@model SnehPieShop.Models.Pie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pie</h4>
    <hr />
    <dl class="row">
        
        <dd class = "col-sm-10">
           <img src="@Url.Content(@Model.ImageThumbnailUrl)">
        </dd>
       
        <dd class = "col-sm-10">
            <h2> @Html.DisplayFor(model => model.Name) </h2>
        </dd>
         <dd class = "col-sm-10">
          <h3> @Html.DisplayFor(model => model.Price)</h3> 
        </dd>
      
        <dd class = "col-sm-10">
        <h3>    @Html.DisplayFor(model => model.ShortDescription)</h3>
        </dd>
        <dd class = "col-sm-10">
         <h4>   @Html.DisplayFor(model => model.LongDescription)</h4>
        </dd>
        
      
       
       
       
        
    </dl>
</div>
<div>
    <a asp-action="List">Back to List</a>
</div>



