@using SnehaPieShop.ViewModels

@model IEnumerable<SnehaPieShop.Models.PieMini>
 @foreach (var pie in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            
            <div class="caption">
                <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                <h3>
                    <a asp-action="Details" asp-controller="Pie" asp-route-id="@pie.PieId">@pie.Name</a>
               @*<button  ><a asp-action="AddToCart" asp-route-id="">AddToCart</a> |</button>  *@
                </h3>
            </div>
                <h3>
                    <a>@pie.Name</a>
                </h3>
                <p>@pie.ShortDescription</p>
            </div>

        </div>
    <div>
    <a asp-action="List">Back to List</a>
</div>
}

